body {
  max-width: 1600px;
  margin: 0 auto;

  @include double-pixel {
  }

  @include tablet {
  }

  @include desktop {
  }
}

body.dark-theme-site {
  background-color: #686868;
  color: #f4f4f4;
}
