@import './utils/vars';
@import './utils/mixin';

@import './base/fonts';
@import './base/common';
@import './base/body';
@import './base/container';
@import './base/visually-hidden';

@import './base/reset';
@import './base/link';
@import './base/list';

@import './components/footer';
@import './components/header';
@import './components/theme';
@import './components/mobile-menu';
@import './components/news-card';
@import './components/weather-card';

@import './pages/main/gallery';
@import './pages/favorite/favorite';
@import './pages/read/read';
