<section class="read section-read">
  <div class="container gallery-container">
    <ul class="gallery-container" id="ul-gallery"></ul>
    <div class="spinner-container"></div>
  </div>
  <div class="empty-page is-hidden">
    <h2 class="empty-page__title">We haven’t found news from this category</h2>
    <picture>
      <source
        srcset="
          /src/images/img/empty-news-pc-1x.png 1x,
          /src/images/img/empty-news-pc-2x.png 2x
        "
        media="(min-width: 1170px)"
      />
      <source
        srcset="
          /src/images/img/empty-news-tab-1x.png 1x,
          /src/images/img/empty-news-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /src/images/img/empty-news-mob-1x.png 1x,
          /src/images/img/empty-news-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/src/images/img/empty-news-mob-1x.png"
        alt="News not find"
      />
    </picture>
  </div>
</section>
