
<section class="read">
  <div class="container">
    <!-- body section -->
    <!-- <form class="search-form" id="read-search-form">
      <input
        id="read-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search news..."
      />
      <button type="submit" id="read-input">-----Search-----</button>
      <button type="button" id="parseBtn">--Parse and Render--</button>
    </form> -->
    
    <ul id="ul-gallery"></ul>
    <div class="spinner-container"></div>

  </div>
</section>