<section class="filters container filters_wrap">
  <div class="category-container">
    <section class="category filters_wrap">
      <div class="category_notdropdownbtn_container filters__button-wrap"></div>
      <div class="category_dropbtn_container selected_container">
        <button class="category_btn filters__button" id="category_btn">
          Categories
        </button>
        <div class="filters-container__list">
          <div
            class="category_dropdown selected_list"
            id="category_dropdown">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--Для розмітки фільтру  -->
  <h2 class="search-date">Search date news</h2>
  <div class="date-container">
    <span class="calendar-svg">
      <svg class="calendar-svg__icon" width="32" height="32">
        <use
          class="calendar-svg__icon-vector"
          href="/src/images/icons.svg#icon-calendar"
        ></use>
      </svg>
    </span>
    <input class="input-calendar" type="text" id="date" placeholder="" />
    <span class="calendar-arrow">
      <svg class="calendar-arrow__icon" width="32" height="32">
        <use
          class="calendar-arrow__icon-arrow"
          href="/src/images/icons.svg#icon-arrow-down"
        ></use>
      </svg>
    </span>
    <div id="calendar-container" class="is-hidden">
      <div id="calendar"></div>
    </div>
  </div>
</section>
