<section class="filters">
    <div class="container">
        <ul class="filters__list">
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
          <li class="filters__item">
            <button type="button" class="filters__button"></button>
          </li>
         <li class="filters__item">
          <form action="">
           <select name="other_filter" id="other_filter" class="filters__button js-select">
            <option value="Others">Others...</option>  
            </select>
            </form>
         </li>
        </ul>

        
    </div>  
</section>


<!-- "Зверстати блок зі списком категорій для пошуку тематичних новин по відповідній категорії  (мобільна, планшет та десктопна версії)
Блок в себе включає список з категоріями новин
Категорії новин приходять з бекенда в результаті запиту
Список новин що помістився в рядок потрібно відобразити випадаючим списком, що відкрвається по кліку на кнопку Others
На мобільній версії всі категорії повинні відображатись у випадаючому списку, що відкривається по кліку на кнопку Categories
Клік по обраній категорії повинен робити запит на бекенд для отримання відповідного списку новин" 

План роботи:
1. при будь-якому запиті на бекенд приходить список категорій;
- створити незалежну функцію, яка буде викликатися при загрузці сторінки і робити запит на бекенд;
- створити функцію, яка буде рендерить кнопки з наповненням від бекенду;

2. зі списку категорій треба обрати ті, які мають довжину не більше 10-15 символів;
3. результат фільтрації, тобто назви категорій до 15 символів, треба помістити в 7 кнопок, решту запиту в окрему кнопку Others;
4. створити випадаючий список на кнопці others;
5. створити випадаючий список по дефолту для мобільної версії;


-->