<footer class="footer footer-box">
  <div class="container ZSU">
    <!-- body footer -->
    <p class="text-1">
      Кожен донат на<span class="logo-text1"> ЗСУ</span> наближає перемогу
    </p>
  </div>
  <div class="container butt">
    <ul class="butt">
      <li>
        <a class="donat" href="https://u24.gov.ua/uk"
          ><img src="/src/images/image (1).png"
        /></a>
      </li>
      <li>
        <a class="donat" href="https://helpvolunteer.com.ua/"
          ><img src="/src/images/image36-removebg-preview.png"
        /></a>
      </li>
      <li>
        <a class="donat" href="https://savelife.in.ua/"
          ><img src="/src/images/image.png"
        /></a>
      </li>
      <li>
        <a class="donat" href="https://prytulafoundation.org/"
          ><img src="/src/images/image2-removebg-preview.png"
        /></a>
      </li>
    </ul>
  </div>

  <div class="footer__text">
    <span class="footer__text--flex footer__text--bottom">
      © 2023 | All Rights Reserved |
    </span>
    <span class="text-footer">
      <div class="heart">&#128153;</div>
      <a class="text-footer">GoIT Students</a>
    </span>
  </div>
</footer>
