<footer class="footer footer-box">
  <div class="container">
    <div class="ZSU">
      <!-- body footer -->
      <p class="text-1">
        Кожен донат на<span class="logo-text1"> ЗСУ</span> наближає перемогу
      </p>
    </div>
    <div class="butt">
      <ul class="butt">
        <li>
          <a
            class="donat"
            href="https://u24.gov.ua/uk"
            target="_blank"
            rel="noreferrer noopener"
            ><img src="/src/images/image-1.png" alt="donate"
          /></a>
        </li>
        <li>
          <a
            class="donat"
            href="https://helpvolunteer.com.ua/"
            target="_blank"
            rel="noreferrer noopener"
            ><img src="/src/images/image36-removebg-preview.png" alt="logo"
          /></a>
        </li>
        <li>
          <a
            class="donat"
            href="https://savelife.in.ua/"
            target="_blank"
            rel="noreferrer noopener"
            ><img src="/src/images/image.png" alt="logo"
          /></a>
        </li>
        <li>
          <a
            class="donat"
            href="https://prytulafoundation.org/"
            target="_blank"
            rel="noreferrer noopener"
            ><img src="/src/images/image2-removebg-preview.png" alt="logo"
          /></a>
        </li>
      </ul>
    </div>
    <div class="footer__text">
      <span class="footer__text--flex footer__text--bottom">
        © 2023 | All Rights Reserved |
      </span>
      <div class="text-footer">
        <div class="heart">&#128153;</div>
        <a
          class="text-footer"
          href="https://goit.global/ua/"
          target="_blank"
          rel="noreferrer noopener"
          >GoIT Students</a
        >
      </div>
    </div>
  </div>
</footer>
