<footer class="footer footer-box">
    <div class="container ZSU">
        
        <!-- body footer -->
        
        <h1 class="text-1">Кожен донат на<span class="logo-text1"> ЗСУ</span> наближає перемогу</h1>
        
      </div>
    <div class="container butt">
        <button id="donat" class="button-donat">
          
          <a  href="https://u24.gov.ua/uk';"><img src="/src/images/image (1).png" class="donatik"></a>
          
        </button>
        <button id="donat" class="button-donat">
          <a href="https://helpvolunteer.com.ua/';"><img src="/src/images/image36-removebg-preview.png" ></a>
        </button><button id="donat" class="button-donat">
          <a href="https://savelife.in.ua/';"><img src="/src/images/image.png" ></a>
        </button><button id="donat" class="button-donat">
          <a href="https://prytulafoundation.org/';"><img src="/src/images/image2-removebg-preview.png" ></a>
        </button>
        
    </div>
    
    <h3 class="footer__text">
        <span class="footer__text--flex footer__text--bottom">
          © 2023 | All Rights Reserved |
        </span>
        <span class="text-footer">
          
          <body>
            <div class="heart">&#128153;</div>
          </body>
        
          
          <a class="text-footer">GoIT Students</a>
          
        </span>
      </h3>
      
</footer>