<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="/src/index.html" class="header-logo">News</a>
      <ul class="header-list">
        <li class="header-list__item">
          <a href="/src/index.html" class="header-list__link home header-list__link--current">Home</a>
        </li>
        <li class="header-list__item">
          <a href="/src/favorite.html" class="header-list__link fav"
            >Favorite</a
          >
        </li>
        <li class="header-list__item">
          <a href="/src/read.html" class="header-list__link read">Read</a>
        </li>
      </ul>
      <div class="search-box">
        <form class="search-form" id="search-form">
          <input
            class="search-input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search |"
          />
          <button class="query-btn" id="queryBtn" type="submit">
            <svg
              class="query-btn-icon"
              width="20px"
              height="20px"
              aria-label="Input search news"
            >
              <use
                class="menu-toggle__search"
                href="/src/images/icons.svg#icon-search"
              ></use>
            </svg>
          </button>
        </form>
      </div>
      <button
        class="menu-toggle js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          class="menu-toggle__icons"
          width="40px"
          height="40px"
          aria-label="Switcher mobile menu"
        >
          <use
            class="menu-toggle__menu"
            href="/src/images/icons.svg#icon-menu"
          ></use>
        </svg>
      </button>
      <div class="change-theme">
        <span class="light-label">Light</span>
        <svg class="icon-sun" width="21px" height="21px">
          <use href="/src/images/icons.svg#icon-sun"></use>
        </svg>
        <input type="checkbox" class="input-theme" id="theme" />
        <label for="theme" class="label-theme"></label>
        <svg class="icon-moon" width="21px" height="21px">
          <use href="/src/images/icons.svg#icon-moon"></use>
        </svg>
        <span class="dark-label">Dark</span>
      </div>
    </nav>
  </div>
</header>
