<!-- mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
    <h2 class="visually-hidden">mobile menu</h2>
    <ul class="menu-top">
        <li class="menu-top__item">
            <a href="/src/index.html" class="header-logo">News</a>
        </li>
        <li>
            <button class="menu-toggle js-close-menu">
                <svg class="menu-toggle__icons" width="24" height="24" aria-label="Перемикач мобільного меню">
                    <use class="menu-toggle__cross" href="/src/images/Vector.svg"></use>
                </svg>
            </button>
        </li>
    </ul>
    <ul class="menu-bar">
        <li class="menu-bar__item">
            <svg class="menu-bar__icons" width="32" height="32">
                <use class="menu-bar__home" href="/src/images/Vector.svg"></use>
            </svg>
            <a href="/src/index.html" class="menu-bar__link menu-bar__link--current">Home</a>
            <svg class="menu-bar__icon-arrow" width="24" height="24" >
                <use class="menu-bar__arrow-right" href="/src/images/Vector.svg"></use>
            </svg>
        </li>
        <li class="menu-bar__item">
            <svg class="menu-bar__icons" width="32" height="32" aria-label="Перемикач мобільного меню">
                <use class="menu-bar__favorite" href="/src/images/Vector.svg"></use>
            </svg>
            <a href="/src/favorite.html" class="menu-bar__link">Favorite</a>
            <svg class="menu-bar__icon-arrow" width="24" height="24" >
                <use class="menu-bar__arrow-right" href="/src/images/Vector.svg"></use>
            </svg>
        </li>
        <li class="menu-bar__item">
            <svg class="menu-bar__icons" width="32" height="32" aria-label="Перемикач мобільного меню">
                <use class="menu-bar__read" href="/src/images/Vector.svg"></use>
            </svg>
            <a href="/src/read.html" class="menu-bar__link">Read</a>
            <svg class="menu-bar__icon-arrow" width="24" height="24" >
                <use class="menu-bar__arrow-right" href="/src/images/Vector.svg"></use>
            </svg>
        </li>
    </ul>
    <div>
        <input type="checkbox" class="input-theme" id="theme">
        <label for="theme" class="label-theme"></label>
    </div>
</div>
