<!-- mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <h2 class="visually-hidden">mobile menu</h2>
  <ul class="menu-top">
    <li class="menu-top__item">
      <a href="/src/index.html" class="header-logo">News</a>
    </li>
    <li>
      <button class="menu-toggle js-close-menu">
        <svg
          class="menu-toggle__icons menu-toggle__icons-cross"
          width="24px"
          height="24px"
        >
          <use
            class="menu-toggle__cross"
            href="/src/images/icons.svg#icon-cross"
          ></use>
        </svg>
      </button>
    </li>
  </ul>
  <ul class="menu-bar">
    <li class="menu-bar__item">
      <svg class="menu-bar__icons" width="32" height="32">
        <use
          class="menu-bar__home"
          href="/src/images/icons.svg#icon-home"
        ></use>
      </svg>
      <a href="/src/index.html" class="menu-bar__link menu-bar__link">Home</a>
      <svg class="menu-bar__icon-arrow" width="24" height="24">
        <use
          class="menu-bar__arrow-right"
          href="/src/images/icons.svg#icon-arrow-up"
        ></use>
      </svg>
    </li>
    <li class="menu-bar__item">
      <svg class="menu-bar__icons" width="32" height="32">
        <use
          class="menu-bar__favorite"
          href="/src/images/icons.svg#icon-fav"
        ></use>
      </svg>
      <a href="/src/favorite.html" class="menu-bar__link">Favorite</a>
      <svg class="menu-bar__icon-arrow" width="24" height="24">
        <use
          class="menu-bar__arrow-right"
          href="/src/images/icons.svg#icon-arrow-up"
        ></use>
      </svg>
    </li>
    <li class="menu-bar__item">
      <svg class="menu-bar__icons" width="32" height="32">
        <use
          class="menu-bar__read"
          href="/src/images/icons.svg#icon-read"
        ></use>
      </svg>
      <a href="/src/read.html" class="menu-bar__link">Read</a>
      <svg class="menu-bar__icon-arrow" width="24" height="24">
        <use
          class="menu-bar__arrow-right"
          href="/src/images/icons.svg#icon-arrow-up"
        ></use>
      </svg>
    </li>
  </ul>
  <div class="change-theme-mobile">
    <span class="light-label">Light</span>
    <svg class="icon-sun-mob" width="21px" height="21px">
      <use href="/src/images/icons.svg#icon-sun"></use>
    </svg>
    <input type="checkbox" class="input-theme" id="mobile-theme" />
    <label for="mobile-theme" class="label-theme"></label>
    <svg class="icon-moon-mob" width="21px" height="21px">
      <use href="/src/images/icons.svg#icon-moon"></use>
    </svg>
  </div>
</div>
