.gallery {
    .container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding-top: 40px;

        @include tablet {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            gap: 30px;
            padding-top: 48px;
        }

        @include desktop {
            gap: 32px;
            padding-top: 60px;

        }
    }
    .container.gallery-container {
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            padding-top: 48px;
        }

        @include desktop {
            gap: 32px;
            padding-top: 60px;

        }

    }

}