.gallery {
    position: relative;
    .container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        @include tablet {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            gap: 30px;
        }
        @include desktop {
            gap: 32px;
        }
    }
}