.gallery {
    .container {
        display: flex;
        flex-direction: column;
        gap: 28px;
        @include tablet {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 30px;
        }
        @include desktop {
            gap: 32px;
        }
    }
    .empty-page {
        margin: 0 auto;
        max-width: 320px;
        @include tablet {
            max-width: 768px;
        }
        @include desktop {
            max-width: 1280px;
        }
    }
}