.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $primary-bg-color;

    @include tablet {
        display: none;
    }
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 24px 16px;
    z-index: 999;
    background-color: #F4F4F4;

    scale: 0;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        scale: 1;
    }

    & .menu-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #fff;
    }
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.menu-bar__item {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.menu-bar__icon-arrow {
    margin-left: auto;
    rotate: 90deg;
    color: currentColor;
}

.menu-toggle__icons {
    color: currentColor;
}