.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  @include tablet {
    display: none;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 24px 16px;
  z-index: 999;
  background-color: $primary-bg-color;

  scale: 0;
  transition: scale $duration $cubic;

  &.is-open {
    scale: 1;
  }

  & .menu-toggle {
    // position: absolute;
    // top: 10px;
    // right: 15px;
    color: #fff;
  }
}
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 68px;
  margin-bottom: auto;
  margin-left: -16px;
  margin-right: -16px;
}

.menu-bar__item {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  padding-left: 16px;
  padding-right: 16px;
  &:hover {
    background-color: $hover-bg-color;
    .menu-bar__icon-arrow {
      fill: $alt-border-color;
    }
    .menu-bar__link {
      color: $alt-border-color;
    }
  }
}

.menu-bar__icon-arrow {
  rotate: 90deg;
  fill: $hover-bg-color;
}
.menu-bar__link {
  margin-left: 14px;
  width: 100%;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;

  // color: $primary-text-color;
  color: currentColor;
}

.menu-bar__icons {
  height: 28px;
  border: 1px solid $alt-border-color;
  border-radius: 50%;
}

.menu-toggle__icons {
  color: currentColor;
}
