.news-card {
    // position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 320px;
    max-height: 630px;

    @include tablet {
        max-width: 353px;
        max-height: 675px;
    
    }

    @include desktop {
        max-width: 394px;
    }

}
.news-card__img {
    position: relative;
}

.news-card__item {
    height: 395px;
    object-fit: cover;
}

.news-card__theme {
    position: absolute;
    top: 40px;
    left: 0;

    padding: 4px, 8px;
}
.news-card__favorite {
    position: absolute;
    bottom: 12px;
    right: 8px;

    padding: 6px 12px;

}

.news-card__info-title {
    display: flex;
    align-items: center;
    height: 132px;
}

.news-card__info-text {
    height: 66px;
}

.news-card__additional {
    display: flex;
    justify-content: space-between;

}

// .js-read-more-storage::before {
//     position: absolute;
//     top:0;
//     right: 10px;
//     content: "Have read \2714";
//     font-size: 20px;
//     color: green;
//     display: inline-block;
//   }

// .js-read-more-storage::after {
//     position: absolute;
//     display: inline-block;
//     content: "";
//     top:0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(244, 244, 244, 0.4);
//   }