.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 630px;
    width: 100%;
    max-width: 320px;
    max-height: 630px;
    padding: 32px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Roboto', sans-serif;

    @include tablet {
        max-width: 353px;
        max-height: 675px;
    
    }

    @include desktop {
        max-width: 394px;
    }

}

.weather-card__top {
    display: flex;
    align-items: center;
    gap: 11px;
}

.weather-card__temp {
    font-size: 64px;
    line-height: 1.17;

    color: #FFFFFF;
    border-right: solid 1px white;
}

.weather-card__now {
    font-size: 36px;
    line-height: 1.17;

    color: #FFFFFF;
}

.weather-card__locate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 17px;
    cursor: pointer;
    background-color: $secondary-border-color;
    border-radius: 10px;
    border: none;

    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.weather-card__locate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.weather-card__locate-icon {
    width: 30px;
    height: 30px;
    color: currentColor;
}

.weather-card__locate-place {
    font-size: 20px;
    line-height: 1.15;

    color: #FFFFFF;
}

.weather-card__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card__date {
    font-size: 28px;
    line-height: 1.18;

}