.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  width: 100%;
  height: auto;
  max-width: 288px;
  max-height: 469px;
  padding: 32px 36px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #4440f6;

  font-family: 'Roboto', sans-serif;

  @include tablet {
    max-width: 353px;
    max-height: 675px;
    padding: 40px 32px 60px 32px;
  }

  @include desktop {
    max-width: 394px;
    padding: 40px 53px 60px 53px;

  }

  &.is-hidden {
    display: none;
  }
}

.weather-card__top {
  display: flex;
  align-items: center;
  gap: 11px;
}

.weather-card__top-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.weather-card__temp {
  font-size: 55px;
  line-height: 1.16;

  color: #ffffff;
  border-right: solid 1px white;

  @include tablet {
    font-size: 64px;
  }
}

.weather-card__now {
  font-size: 24px;
  line-height: 1.17;

  color: #ffffff;
  @include tablet {
    font-size: 36px;

  }
}

.weather-card__locate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 7px;
  cursor: pointer;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  border: none;
  outline: none;

  color: #ffffff;
}

.weather-card__locate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.weather-card__locate-icon {
  fill: #ffffff;
}

.weather-card__locate-place {
  font-size: 20px;
  line-height: 1.15;

  color: #ffffff;
}

.weather-card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  max-width: 156px;
  @include tablet {
    max-width: 205px;
  }
}

.weather-card__date {
  font-size: 27px;
  line-height: 1.17;
  text-align: center;

  color: #ffffff;
  @include tablet {
      font-size: 36px;

  }
}

.weather-card__week {
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: rgba(254, 254, 255, 0.3);
  cursor: pointer;
  outline: none;

  color: #ffffff;
  @include tablet {
    font-size: 20px;
  }
}

.week-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-of-week {
  color: white;
}

.week-weather-temp {
  color: white;
}

.weather-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
