<section class="gallery">
    <div class="container">
        
        <div class="weather-card" style="background-image: url('/src/images/logo.png');">
            <div class="weather-card__top">
                <p class="weather-card__temp">23°</p>
                <div class="weather-card__top-right">
                    <p class="weather-card__now">Sunny</p>
                    <button class="weather-card__locate">
                        <a href="">Jakarta</a>
                    </button>
                </div>
            </div>
            <div class="weather-card__bottom">
                <p class="weather-card__date">date today</p>
                <button class="weather-card__week">
                    <a href="">weather for week</a>
                </button>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img class="news-card__item" src="/src/images/logo.png" alt="" loading="lazy" width="395" />
                <div class="news-card__favorite">
                    <label for="favorite" class="label-favorite">Add to favorite</label>
                    <input type="checkbox" class="input-favorite" id="favorite">
                </div>
            </div>
            <h2 class="news-card__info-title">Lorem ipsum dolor sit  elit.</h2>
            <p class="news-card__info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptatum repellendus sequi  neque?</p>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

    </div>
</section>