<section class="gallery">
    <div class="container">

        <div class="news-card">
            <div class="news-card__img">
                <p class="news-card__theme">news theme</p>
                <img src="/src/images/logo.png" alt="" loading="lazy" width="320" />
                <div class="news-card__favorite">
                    <input type="checkbox" class="input-favorite" id="favorite">
                    <label for="favorite" class="label-favorite"></label>
                </div>
            </div>
            <div class="news-card__info">
                <h2 class="news-card__info-title">news title</h2>
                <p class="news-card__info-text">card text</p>
            </div>
            <div class="news-card__additional">
                <p class="news-card__date">card date</p>
                <a class="news-card__more" href="">Read more</a>
            </div>
        </div>

    </div>
</section>