<section class="gallery">
  <div class="container gallery-container">
    <h1 class="visually-hidden">News gallery</h1>
    <div class="weather-card">
      <!-- <div class="weather-card__top">
        <p class="weather-card__temp"></p>
        <div class="weather-card__top-right">
          <p class="weather-card__now"></p>
          <button class="weather-card__locate">
            <svg
              class="weather-card__locate-btn"
              width="30px"
              height="30px"
              aria-label="locate button"
            >
              <use
                class="weather-card__locate-icon"
                href="/src/images/icons.svg#icon-location"
              ></use>
            </svg>
            <a class="weather-card__locate-place" href=""></a>
          </button>
        </div>
      </div>
      <div class="weather-card__bottom">
        <p class="weather-card__date"></p>
        <button class="weather-card__week">
          <a class="weather-card__week-link href=">weather for week</a>
        </button>
      </div> -->
    </div>
  </div>
</section>
